nav(class="navbar navbar-expand-lg navbar-light bg light")
    a(class="navbar-brand" href="#") ToDo List
    button(class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navAltMen" aria-controls="navAltMen" aria-expanded="false" aria-label="toggle-navigation")
        span(class="navbar_toggler-icon")
    div(class="collapse navbar-collapse" id="navAlMen")
        div(class="navbar-nav")
            a(class="nav-item nav-link active" href="#") Inicio 
            span(class="sr-only") (current)
            a(class="nav-item nav-link" href="#") Tareas