html
  head
    meta(charset='utf8')
    title task app    
    link(href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet")
    link(rel="stylesheet" type="text/css" href="/font/css/font-awesome.css")
    link(rel="stylesheet" type="text/css" href="/bootstrap/bootstrap.css")
    link(rel="stylesheet" type="text/css" href="/css/style.css")

  body
    include ../partials/navegation
    script(src="/timeago")
    script(src="/popper")
    script(src="/jquery")
    script(src="/js/datepicker.js")
    script(src="/moment")
    script(src="/moment-timezone")

      


    
block content
